<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:UseCurrentLocale="true">
      <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="Menu">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="NODEID" minOccurs="0">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="40" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="PARENTID" minOccurs="0">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="10" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="NODENAME" minOccurs="0">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="20" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="IniPath" minOccurs="0">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="60" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="PARAMETER" minOccurs="0">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="200" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="SERIAL_NO" type="xs:decimal" minOccurs="0" />
                <xs:element name="WIN_OPEN_MODE" type="xs:decimal" minOccurs="0" />
                <xs:element name="ICON" minOccurs="0">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="200" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="BACKGROUND" type="xs:decimal" minOccurs="0" />
                <xs:element name="Enabled" minOccurs="0">
                  <xs:simpleType>
                    <xs:restriction base="xs:boolean" />
                  </xs:simpleType>
                </xs:element>
                <xs:element name="MEMO" minOccurs="0">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="2000" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:complexType>
    </xs:element>
  </xs:schema>
  <Menu>
    <NODEID>16</NODEID>
    <PARENTID>0</PARENTID>
    <NODENAME>医嘱以及非医嘱同步</NODENAME>
    <IniPath />
    <SERIAL_NO>0</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>a654d7e5-eab0-4143-901b-2a9c7ca9d1f2</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>体温单同步</NODENAME>
    <IniPath>SQL\VitalSignsRecTask.sql</IniPath>
    <SERIAL_NO>1</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
    <MEMO />
  </Menu>
  <Menu>
    <NODEID>633201f5-266b-414b-8722-18a48034320d</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>科室信息同步</NODENAME>
    <IniPath>SQL\Syndept.INI</IniPath>
    <SERIAL_NO>2</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>824d650f-94b3-49ab-b767-c0c27477e881</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>人员信息同步</NODENAME>
    <IniPath>SQL\Synstaff.INI</IniPath>
    <SERIAL_NO>3</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>00036</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>已经在院患者</NODENAME>
    <IniPath>SQL\SyncTableList.INI</IniPath>
    <SERIAL_NO>4</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>dfccc1fa-8dcc-4e9b-ad74-aa7936292a05</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>患者入出转记录</NODENAME>
    <IniPath>SQL\Synadtlog.INI</IniPath>
    <SERIAL_NO>5</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>00037</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>药疗医嘱同步1</NODENAME>
    <IniPath>SQL\List1.INI</IniPath>
    <SERIAL_NO>6</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>00038</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>药疗医嘱同步2</NODENAME>
    <IniPath>SQL\List2.INI</IniPath>
    <SERIAL_NO>7</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>00039</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>药疗医嘱同步3</NODENAME>
    <IniPath>SQL\List3.INI</IniPath>
    <SERIAL_NO>8</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>00040</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>药疗医嘱同步4</NODENAME>
    <IniPath>SQL\List4.INI</IniPath>
    <SERIAL_NO>9</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>00041</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>药疗医嘱同步5</NODENAME>
    <IniPath>SQL\List5.INI</IniPath>
    <SERIAL_NO>10</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>9affd3d1-7ce2-4377-a0c2-3a7d107435da</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>药疗医嘱同步6</NODENAME>
    <IniPath>SQL\List6.INI</IniPath>
    <SERIAL_NO>11</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>b6534e0a-99fa-48c3-b324-be399ac6a86f</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>药疗医嘱同步7</NODENAME>
    <IniPath>SQL\List7.INI</IniPath>
    <SERIAL_NO>12</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>02e80cfd-3178-47f4-958f-97e4da4886e8</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>药疗医嘱同步8</NODENAME>
    <IniPath>SQL\List8.INI</IniPath>
    <SERIAL_NO>13</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>09ed22bf-f5bc-43f3-881d-0c18e74a1bbf</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>药疗医嘱同步9</NODENAME>
    <IniPath>SQL\List9.INI</IniPath>
    <SERIAL_NO>14</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>04d9300a-9ee8-4b2b-8baf-8fa17129feb4</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>药疗医嘱同步10</NODENAME>
    <IniPath>SQL\List10.INI</IniPath>
    <SERIAL_NO>15</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>9a0e3c65-ddc1-4a73-a2a0-2603de24b702</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>药疗医嘱同步11</NODENAME>
    <IniPath>SQL\List11.INI</IniPath>
    <SERIAL_NO>16</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>8225e3b2-bd6a-4d09-864f-c8321d6556e4</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>药疗医嘱同步12</NODENAME>
    <IniPath>SQL\List12.INI</IniPath>
    <SERIAL_NO>17</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>7ac9cad0-8587-4ef0-a4c1-2dfb9084cc66</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>药疗医嘱同步13</NODENAME>
    <IniPath>SQL\List13.INI</IniPath>
    <SERIAL_NO>18</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>3c795ed7-528e-4c0d-9316-f5e8e4fffca1</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>药疗医嘱同步14</NODENAME>
    <IniPath>SQL\List14.INI</IniPath>
    <SERIAL_NO>19</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>cdf409a4-0a81-419b-be8e-2e3d9ba578e8</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>药疗医嘱同步15</NODENAME>
    <IniPath>SQL\List15.INI</IniPath>
    <SERIAL_NO>20</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>b1fa585b-50c8-40d4-afca-f45788740f73</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>非药疗医嘱同步1</NODENAME>
    <IniPath>SQL\NoMedication1.INI</IniPath>
    <SERIAL_NO>21</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>d33fc9f2-b76d-4078-bf80-6a953686f534</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>非药疗医嘱同步2</NODENAME>
    <IniPath>SQL\NoMedication2.INI</IniPath>
    <SERIAL_NO>22</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>65c0f686-3078-4f39-b2c6-fa2b65c00bcf</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>非药疗医嘱同步3</NODENAME>
    <IniPath>SQL\NoMedication3.INI</IniPath>
    <SERIAL_NO>23</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>9eda775c-7c79-44f7-a6e4-9ad63852defc</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>非药疗医嘱同步4</NODENAME>
    <IniPath>SQL\NoMedication4.INI</IniPath>
    <SERIAL_NO>24</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>8a37ea26-290f-4dfb-a336-483219cf7f9c</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>非药疗医嘱同步5</NODENAME>
    <IniPath>SQL\NoMedication5.INI</IniPath>
    <SERIAL_NO>25</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>2ff05fa4-6835-426b-a340-9f925614c00e</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>非药疗医嘱同步6</NODENAME>
    <IniPath>SQL\NoMedication6.INI</IniPath>
    <SERIAL_NO>26</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>db114c0d-9937-4b06-a3ca-38fda0784476</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>非药疗医嘱同步7</NODENAME>
    <IniPath>SQL\NoMedication7.INI</IniPath>
    <SERIAL_NO>27</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>d35d3ffb-c3f1-42fb-bda9-e699e0add301</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>非药疗医嘱同步8</NODENAME>
    <IniPath>SQL\NoMedication8.INI</IniPath>
    <SERIAL_NO>28</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>c94ba77b-020b-4346-89e4-5b1e3091e107</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>非药疗医嘱同步9</NODENAME>
    <IniPath>SQL\NoMedication9.INI</IniPath>
    <SERIAL_NO>29</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>574603d4-cf20-449b-9447-cffca19ab6c9</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>非药疗医嘱同步10</NODENAME>
    <IniPath>SQL\NoMedication10.INI</IniPath>
    <SERIAL_NO>30</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>7efe4332-d3de-4354-bc25-34cfd277ee62</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>非药疗医嘱同步11</NODENAME>
    <IniPath>SQL\NoMedication11.INI</IniPath>
    <SERIAL_NO>31</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>82ae2087-55a5-495a-a2f7-ec18e250ab95</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>非药疗医嘱同步12</NODENAME>
    <IniPath>SQL\NoMedication12.INI</IniPath>
    <SERIAL_NO>32</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>81a1d444-282d-4087-8b1c-3d7afc38b594</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>非药疗医嘱同步13</NODENAME>
    <IniPath>SQL\NoMedication13.INI</IniPath>
    <SERIAL_NO>33</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>808914f3-aec3-4cac-a792-2a1a4348d2fd</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>非药疗医嘱同步14</NODENAME>
    <IniPath>SQL\NoMedication14.INI</IniPath>
    <SERIAL_NO>34</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
  <Menu>
    <NODEID>76233f39-db44-4b92-bd8f-b9df50a6d81e</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>非药疗医嘱同步15</NODENAME>
    <IniPath>SQL\NoMedication15.INI</IniPath>
    <SERIAL_NO>35</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\Orders.ICO</ICON>
    <Enabled>true</Enabled>
  </Menu>
</NewDataSet>