<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Mobile连接-->
    <add key="StrConnMobile" value="mLfQLWv0yVqvlVZy+shgNeP0btKYDxBRE/q+Ce3xHtBqlgSJYxgOl9yVJHknrBHwqHZRv7zozK8="/>
    <!--His连接-->
    <add key="StrConnHis" value="mLfQLWv0yVpHcpCd5KfHNLxj+nel7d2ss0OvuCAV70eFDmWSzNjmfoijGQcvlEiTB9B5FDbuqTg="/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
