<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--时间间隔-->
    <add key="timeInterval" value="10000"/>
    <!--拆分天数-->
    <add key="SPLIT_DATES" value="3"/>
    <!--ListBox显示数据上限,当显示数据达到此值时,界面清空-->
    <add key="recodeRowCount" value="1000"/>
    <!--Mobile连接-->
    <add key="StrConnMobile" value="mLfQLWv0yVqvlVZy+shgNeP0btKYDxBRE/q+Ce3xHtBqlgSJYxgOl9yVJHknrBHwqHZRv7zozK8="/>
    <!--His连接-->
    <add key="StrConnHis" value="mLfQLWv0yVpHcpCd5KfHNLxj+nel7d2ss0OvuCAV70eFDmWSzNjmfoijGQcvlEiTB9B5FDbuqTg="/>
    <add key="QID" value="8-12-16-20"/>
    <add key="BID" value="8-16"/>
    <add key="Q4H" value="0-4-8-12-16-20"/>
    <add key="Q2H" value="0-2-4-6-8-10-12-14-16-18-20-22"/>
    <add key="TID" value="8-14-22"/>
    <add key="QH" value="1-2-3-4-5-6-7"/>
  </appSettings>
</configuration>
