<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="QID" value="8-12-16-20"/>
    <add key="BID" value="8-16"/>
    <add key="Q4H" value="0-4-8-12-16-20"/>
    <add key="Q2H" value="0-2-4-6-8-10-12-14-16-18-20-22"/>
    <add key="TID" value="8-14-22"/>
	  <add key="QH" value="1-2-3-4-5-6-7"/>
    <add key="StrConnMobile" value="mLfQLWv0yVqvlVZy+shgNYKjQgcEce7xrFx+MD3rDXFJYTSI5Ds1ZNQs/GEt6Hvc"/>
    <add key="StrConnHis" value="mLfQLWv0yVrUqzYXwp85jDgwIuA1/klsqbubKRx7LY7Df3/wmRXL3F6gQwyUL9zREx0gaJeD0QRvnqvzR+tzSA=="/>
    <add key="SPLIT_DATES" value="3"/>
    <!--特殊频率，适用于一日一次的情况，多个时使用英文逗号隔开-->
    <add key="SpecialFreq" value="持续微量给药"/>
    <!--是否执行标准拆分流程（True：当计划执行时间小于医嘱开始时间时不进行拆分，非True或不配置：进行拆分）-->
    <add key="StdSplit" value="True"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
