<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--*********************************Start 数据库配置 Start*******************************************-->
    <add key="ORA" value="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=MelcOracle)))" />
    <add key="ORAUSER" value="tQgMoKiQr" />
    <add key="ORAPASSWORD" value="tQgMoKiQr" />
    <!--<add key="ORAPASSWORD" value="T1G-O+I1R" />-->
    <!--***********************************End 数据库配置 End*********************************************-->

    <add key="logPath" value="D:\wbslog\MobileWS_test\"/>

    <!--***********************************Start 日志刷新 Start*******************************************-->

    <!--自动刷新-->
    <add key="IsAuto" value="True"/>
    <!--手动刷新-->
    <add key="IsHand" value="False"/>
    <!--定时刷新-->
    <add key="IsTimer" value="False"/>
    <!--定时刷新的定时间隔(s)-->
    <add key="TimerSecond" value="10"/>

    <!--*************************************End 日志刷新 End*********************************************-->


    <!--***********************************Start PACS配置 Start*******************************************-->

    <!--PACS文件网络映射目录（后缀格式为：\数据库表MOBILEHIS.PACS_FILE的FILE_PATH字段）-->
    <add key="PacsRemotePath" value="D:\"/>
    <!--PACS文件保存目录（后缀格式为：\病人编号Patient_Id\检查号Exam_No\分组编号Series_No\图片编号Image_No）-->
    <add key="PacsSavePath" value="D:\DicomImage1"/>

    <!--*************************************End PACS配置 End*********************************************-->


  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
