<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="NewDataSet" msdata:IsDataSet="true" msdata:UseCurrentLocale="true">
      <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="Menu">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="NODEID" minOccurs="0">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="40" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="PARENTID" minOccurs="0">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="10" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="NODENAME" minOccurs="0">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="25" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="MODULE_CODE" minOccurs="0">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="20" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="ADDDLL" minOccurs="0">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="40" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="ADDRESS" minOccurs="0">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="60" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="PARAMETER" minOccurs="0">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="200" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="SERIAL_NO" type="xs:decimal" minOccurs="0" />
                <xs:element name="WIN_OPEN_MODE" type="xs:decimal" minOccurs="0" />
                <xs:element name="ICON" minOccurs="0">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:maxLength value="200" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="BACKGROUND" type="xs:decimal" minOccurs="0" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:complexType>
    </xs:element>
  </xs:schema>
  <Menu>
    <NODEID>00101</NODEID>
    <PARENTID>42</PARENTID>
    <NODENAME>护理会诊记录单</NODENAME>
    <MODULE_CODE>00101</MODULE_CODE>
    <ADDDLL>EvaluationEveryDay.dll</ADDDLL>
    <ADDRESS>HISPlus.EvaluationConsultation</ADDRESS>
    <SERIAL_NO>6</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00211</NODEID>
    <PARENTID>54</PARENTID>
    <NODENAME>护理事件</NODENAME>
    <MODULE_CODE>00211</MODULE_CODE>
    <ADDDLL>NursingEvents.dll</ADDDLL>
    <ADDRESS>HISPlus.NursingEvents</ADDRESS>
    <PARAMETER>0: 查看 1: 录入 2: 修改 3: 审核</PARAMETER>
    <SERIAL_NO>1</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Icon\CNFNOT.ICO</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00214</NODEID>
    <PARENTID>54</PARENTID>
    <NODENAME>护理分类事件组合</NODENAME>
    <MODULE_CODE>00214</MODULE_CODE>
    <ADDDLL>NursingGroup.dll</ADDDLL>
    <ADDRESS>HISPlus.NursingGroup</ADDRESS>
    <PARAMETER>0: 查看1: 录入2: 修改3: 审核</PARAMETER>
    <SERIAL_NO>5</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Icon\MSDN.ICO</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00212</NODEID>
    <PARENTID>54</PARENTID>
    <NODENAME>护理分类维护</NODENAME>
    <MODULE_CODE>00212</MODULE_CODE>
    <ADDDLL>NursingNameMainTain.dll</ADDDLL>
    <ADDRESS>HISPlus.NursingNameMainTain</ADDRESS>
    <PARAMETER>0: 查看1: 录入2: 修改3: 审核</PARAMETER>
    <SERIAL_NO>0</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Icon\aid.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00999</NODEID>
    <PARENTID>1</PARENTID>
    <NODENAME>工作量统计配置窗口</NODENAME>
    <MODULE_CODE>00999</MODULE_CODE>
    <ADDDLL>AllocationForms.dll</ADDDLL>
    <ADDRESS>HISPlus.AllocationForms</ADDRESS>
    <PARAMETER>0: 查看1: 录入2: 修改3: 审核</PARAMETER>
    <SERIAL_NO>1</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Icon\Tool.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00047</NODEID>
    <PARENTID>49</PARENTID>
    <NODENAME>健康教育记录维护</NODENAME>
    <MODULE_CODE>00047</MODULE_CODE>
    <ADDDLL>HealthEducation.dll</ADDDLL>
    <ADDRESS>HISPlus.HealthEduRec</ADDRESS>
    <SERIAL_NO>0</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\健康教育记录维护.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00046</NODEID>
    <PARENTID>49</PARENTID>
    <NODENAME>字典项目内容管理</NODENAME>
    <MODULE_CODE>00046</MODULE_CODE>
    <ADDDLL>HISDictManager.dll</ADDDLL>
    <ADDRESS>HISPlus.DictItemContentFrm</ADDRESS>
    <SERIAL_NO>1</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\字典项目内容管理.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>49</NODEID>
    <PARENTID>0</PARENTID>
    <NODENAME>健康教育</NODENAME>
    <MODULE_CODE>0</MODULE_CODE>
    <SERIAL_NO>0</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\健康教育16.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00059</NODEID>
    <PARENTID>54</PARENTID>
    <NODENAME>疾病护理诊断对照</NODENAME>
    <MODULE_CODE>00059</MODULE_CODE>
    <ADDDLL>NursingSchedule.dll</ADDDLL>
    <ADDRESS>HISPlus.DictItemMatchFrm</ADDRESS>
    <SERIAL_NO>4</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\护理措施设置.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>54</NODEID>
    <PARENTID>0</PARENTID>
    <NODENAME>护理计划</NODENAME>
    <MODULE_CODE>0</MODULE_CODE>
    <SERIAL_NO>1</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Icon\Orders.ICO</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>42</NODEID>
    <PARENTID>0</PARENTID>
    <NODENAME>评估单</NODENAME>
    <MODULE_CODE>0</MODULE_CODE>
    <SERIAL_NO>2</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\评估单.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>56</NODEID>
    <PARENTID>0</PARENTID>
    <NODENAME>字典管理</NODENAME>
    <MODULE_CODE>0</MODULE_CODE>
    <SERIAL_NO>3</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\字典维护16.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00044</NODEID>
    <PARENTID>56</PARENTID>
    <NODENAME>字典管理</NODENAME>
    <MODULE_CODE>00044</MODULE_CODE>
    <ADDDLL>HISDictManager.dll</ADDDLL>
    <ADDRESS>HISPlus.DictManagerFrm</ADDRESS>
    <SERIAL_NO>0</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\字典管理.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00045</NODEID>
    <PARENTID>56</PARENTID>
    <NODENAME>字典查询</NODENAME>
    <MODULE_CODE>00045</MODULE_CODE>
    <ADDDLL>HISDictManager.dll</ADDDLL>
    <ADDRESS>HISPlus.DictSearchFrm</ADDRESS>
    <SERIAL_NO>1</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\字典查询.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00058</NODEID>
    <PARENTID>54</PARENTID>
    <NODENAME>护理计划</NODENAME>
    <MODULE_CODE>00058</MODULE_CODE>
    <ADDDLL>NursingSchedule.dll</ADDDLL>
    <ADDRESS>HISPlus.PIORecFrm</ADDRESS>
    <PARAMETER>15</PARAMETER>
    <SERIAL_NO>3</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\护理计划.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00055</NODEID>
    <PARENTID>8</PARENTID>
    <NODENAME>出院指导</NODENAME>
    <MODULE_CODE>00055</MODULE_CODE>
    <ADDDLL>EvaluationEveryDay.dll</ADDDLL>
    <ADDRESS>HISPlus.OutHospitalGuideFrm</ADDRESS>
    <SERIAL_NO>3</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\出院指导.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00012</NODEID>
    <PARENTID>8</PARENTID>
    <NODENAME>一般护理记录单</NODENAME>
    <MODULE_CODE>00012</MODULE_CODE>
    <ADDDLL>NursingRecord.dll</ADDDLL>
    <ADDRESS>HISPlus.NursingRecordFrm</ADDRESS>
    <SERIAL_NO>2</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\一般护理记录单.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00039</NODEID>
    <PARENTID>8</PARENTID>
    <NODENAME>血压脉搏观察表</NODENAME>
    <MODULE_CODE>00039</MODULE_CODE>
    <ADDDLL>NursingRec.dll</ADDDLL>
    <ADDRESS>HISPlus.NursingViewRec</ADDRESS>
    <SERIAL_NO>4</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\血压脉搏观察表.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00040</NODEID>
    <PARENTID>8</PARENTID>
    <NODENAME>血糖观察表</NODENAME>
    <MODULE_CODE>00040</MODULE_CODE>
    <ADDDLL>NursingRec.dll</ADDDLL>
    <ADDRESS>HISPlus.NursingRecView_BloodSugar</ADDRESS>
    <SERIAL_NO>5</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\血糖观察表.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00048</NODEID>
    <PARENTID>42</PARENTID>
    <NODENAME>每日评估浏览</NODENAME>
    <MODULE_CODE>00048</MODULE_CODE>
    <ADDDLL>EvaluationEveryDay.dll</ADDDLL>
    <ADDRESS>HISPlus.EvaluationResultViewFrm</ADDRESS>
    <SERIAL_NO>2</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\每日评估浏览.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00014</NODEID>
    <PARENTID>1</PARENTID>
    <NODENAME>护理项目维护</NODENAME>
    <MODULE_CODE>00014</MODULE_CODE>
    <ADDDLL>NursingItemManager.dll</ADDDLL>
    <ADDRESS>HISPlus.NurseItemManagerFrm</ADDRESS>
    <SERIAL_NO>2</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\护理项目维护.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00015</NODEID>
    <PARENTID>8</PARENTID>
    <NODENAME>护理记录维护</NODENAME>
    <MODULE_CODE>00015</MODULE_CODE>
    <ADDDLL>NursingRec.dll</ADDDLL>
    <ADDRESS>HISPlus.NursingRec</ADDRESS>
    <SERIAL_NO>6</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\护理项目维护.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>16</NODEID>
    <PARENTID>0</PARENTID>
    <NODENAME>医嘱单</NODENAME>
    <MODULE_CODE>0</MODULE_CODE>
    <SERIAL_NO>4</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\医嘱单.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00013</NODEID>
    <PARENTID>8</PARENTID>
    <NODENAME>危重护理记录单</NODENAME>
    <MODULE_CODE>00013</MODULE_CODE>
    <ADDDLL>NursingRecord.dll</ADDDLL>
    <ADDRESS>HISPlus.NursingRecordWZFrm</ADDRESS>
    <SERIAL_NO>7</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\危重护理记录单.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00016</NODEID>
    <PARENTID>8</PARENTID>
    <NODENAME>病区生命体征观察单</NODENAME>
    <MODULE_CODE>00016</MODULE_CODE>
    <ADDDLL>VitalSignRec_Ward.dll</ADDDLL>
    <ADDRESS>HISPlus.VitalSignRec_Ward</ADDRESS>
    <SERIAL_NO>8</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\病区生命体征观察表.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00011</NODEID>
    <PARENTID>8</PARENTID>
    <NODENAME>体温图</NODENAME>
    <MODULE_CODE>00011</MODULE_CODE>
    <ADDDLL>BodyTemperature.dll</ADDDLL>
    <ADDRESS>HISPlus.BodyTemperatureForm</ADDRESS>
    <SERIAL_NO>9</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\体温图.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00094</NODEID>
    <PARENTID>0</PARENTID>
    <NODENAME>护理信息</NODENAME>
    <MODULE_CODE>00094</MODULE_CODE>
    <ADDDLL>NursingReport.dll</ADDDLL>
    <ADDRESS>HISPlus.NursingReportFrm</ADDRESS>
    <SERIAL_NO>5</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\护理信息.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00030</NODEID>
    <PARENTID>1</PARENTID>
    <NODENAME>护理人员管理</NODENAME>
    <MODULE_CODE>00030</MODULE_CODE>
    <ADDDLL>HISNursing.dll</ADDDLL>
    <ADDRESS>HISPlus.FormNuresPersonnel</ADDRESS>
    <SERIAL_NO>3</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\护理人员管理.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00018</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>医嘱执行单查看</NODENAME>
    <MODULE_CODE>00018</MODULE_CODE>
    <ADDDLL>OrdersExecuteQuery.dll</ADDDLL>
    <ADDRESS>HISPlus.OrderExecuteQuery</ADDRESS>
    <SERIAL_NO>2</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\医嘱执行单查看.ico</ICON>
    <BACKGROUND>1</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00019</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>未执行医嘱查看</NODENAME>
    <MODULE_CODE>00019</MODULE_CODE>
    <ADDDLL>OrdersExecuteQuery.dll</ADDDLL>
    <ADDRESS>HISPlus.OrderNotExecuted</ADDRESS>
    <SERIAL_NO>3</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\未执行医嘱查看.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00102</NODEID>
    <PARENTID>42</PARENTID>
    <NODENAME>PICC穿刺记录单</NODENAME>
    <MODULE_CODE>00102</MODULE_CODE>
    <ADDDLL>EvaluationEveryDay.dll</ADDDLL>
    <ADDRESS>HISPlus.EvaluationPICC</ADDRESS>
    <SERIAL_NO>0</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00017</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>医嘱拆分失败查看</NODENAME>
    <MODULE_CODE>00017</MODULE_CODE>
    <ADDDLL>OrdersSplit.dll</ADDDLL>
    <ADDRESS>HISPlus.frmOrderConvertFailed</ADDRESS>
    <SERIAL_NO>4</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\医嘱拆分失败查看.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00037</NODEID>
    <PARENTID>42</PARENTID>
    <NODENAME>住院护理评估</NODENAME>
    <MODULE_CODE>00037</MODULE_CODE>
    <ADDDLL>EvaluationEveryDay.dll</ADDDLL>
    <ADDRESS>HISPlus.EvaluationInpFrm</ADDRESS>
    <SERIAL_NO>4</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\住院护理评估.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>1</NODEID>
    <PARENTID>0</PARENTID>
    <NODENAME>系统设置</NODENAME>
    <MODULE_CODE>0</MODULE_CODE>
    <SERIAL_NO>6</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\系统设置.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00002</NODEID>
    <PARENTID>1</PARENTID>
    <NODENAME>应用程序管理</NODENAME>
    <MODULE_CODE>00002</MODULE_CODE>
    <ADDDLL>ApplicationManager.dll</ADDDLL>
    <ADDRESS>HISPlus.ApplicationManagerFrm</ADDRESS>
    <SERIAL_NO>4</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\应用程序管理.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00001</NODEID>
    <PARENTID>1</PARENTID>
    <NODENAME>模块管理</NODENAME>
    <MODULE_CODE>00001</MODULE_CODE>
    <ADDDLL>ApplicationManager.dll</ADDDLL>
    <ADDRESS>HISPlus.ModuleManagerFrm</ADDRESS>
    <SERIAL_NO>5</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\模块管理.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00009</NODEID>
    <PARENTID>1</PARENTID>
    <NODENAME>用户管理</NODENAME>
    <MODULE_CODE>00009</MODULE_CODE>
    <ADDDLL>UserManager.dll</ADDDLL>
    <ADDRESS>HISPlus.UserManagerFrm</ADDRESS>
    <SERIAL_NO>6</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\用户管理.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00005</NODEID>
    <PARENTID>1</PARENTID>
    <NODENAME>消息文本管理</NODENAME>
    <MODULE_CODE>00005</MODULE_CODE>
    <ADDDLL>MsgManager.dll</ADDDLL>
    <ADDRESS>HISPlus.MsgManagerFrm</ADDRESS>
    <SERIAL_NO>7</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\消息文本.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00008</NODEID>
    <PARENTID>1</PARENTID>
    <NODENAME>角色管理</NODENAME>
    <MODULE_CODE>00008</MODULE_CODE>
    <ADDDLL>ApplicationManager.dll</ADDDLL>
    <ADDRESS>HISPlus.RoleManagerFrm</ADDRESS>
    <SERIAL_NO>8</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\角色管理.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00038</NODEID>
    <PARENTID>42</PARENTID>
    <NODENAME>每日评估单</NODENAME>
    <MODULE_CODE>00038</MODULE_CODE>
    <ADDDLL>EvaluationEveryDay.dll</ADDDLL>
    <ADDRESS>HISPlus.EvaluationEverydayFrm</ADDRESS>
    <SERIAL_NO>5</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\每日评估单.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00067</NODEID>
    <PARENTID>69</PARENTID>
    <NODENAME>护工标本接收</NODENAME>
    <MODULE_CODE>00067</MODULE_CODE>
    <ADDDLL>SpecimentManager.dll</ADDDLL>
    <ADDRESS>HISPlus.SpecimentAcceptShipperFrm</ADDRESS>
    <SERIAL_NO>0</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\检本管理.png</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00063</NODEID>
    <PARENTID>69</PARENTID>
    <NODENAME>标本管理</NODENAME>
    <MODULE_CODE>00063</MODULE_CODE>
    <ADDDLL>SpecimentManager.dll</ADDDLL>
    <ADDRESS>HISPlus.SpecimentManagerFrm</ADDRESS>
    <SERIAL_NO>3</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\检本管理.png</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00060</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>输液单打印</NODENAME>
    <MODULE_CODE>00060</MODULE_CODE>
    <ADDDLL>OrdersExecuteBill.dll</ADDDLL>
    <ADDRESS>HISPlus.OrdersExecuteBilFrm</ADDRESS>
    <SERIAL_NO>1</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Icon\CNFNOT.ICO</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00061</NODEID>
    <PARENTID>16</PARENTID>
    <NODENAME>腕带打印</NODENAME>
    <MODULE_CODE>00061</MODULE_CODE>
    <ADDDLL>WristBandPrint.dll</ADDDLL>
    <ADDRESS>HISPlus.WristBandPrintFrm</ADDRESS>
    <SERIAL_NO>0</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\contact.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00065</NODEID>
    <PARENTID>69</PARENTID>
    <NODENAME>标本接收</NODENAME>
    <MODULE_CODE>00065</MODULE_CODE>
    <ADDDLL>SpecimentManager.dll</ADDDLL>
    <ADDRESS>HISPlus.SpecimentAcceptFrm</ADDRESS>
    <SERIAL_NO>1</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\检本管理.png</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00064</NODEID>
    <PARENTID>69</PARENTID>
    <NODENAME>标本送出</NODENAME>
    <MODULE_CODE>00064</MODULE_CODE>
    <ADDDLL>SpecimentManager.dll</ADDDLL>
    <ADDRESS>HISPlus.SpecimentShipFrm</ADDRESS>
    <SERIAL_NO>2</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\检本管理.png</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>75</NODEID>
    <PARENTID>0</PARENTID>
    <NODENAME>工作量统计</NODENAME>
    <MODULE_CODE>0</MODULE_CODE>
    <SERIAL_NO>7</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\INDEX.ICO</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00070</NODEID>
    <PARENTID>75</PARENTID>
    <NODENAME>护理工作量统计</NODENAME>
    <MODULE_CODE>00070</MODULE_CODE>
    <ADDDLL>WorkLoadStatics.dll</ADDDLL>
    <ADDRESS>HISPlus.WorkLoadStaticsFrm</ADDRESS>
    <SERIAL_NO>0</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\INDEX.ICO</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>10001</NODEID>
    <PARENTID>78</PARENTID>
    <NODENAME>测试新增</NODENAME>
    <MODULE_CODE>10001</MODULE_CODE>
    <SERIAL_NO>1</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\OOFL.ICO</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>10002</NODEID>
    <PARENTID>78</PARENTID>
    <NODENAME>测试查询</NODENAME>
    <MODULE_CODE>10002</MODULE_CODE>
    <SERIAL_NO>0</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>10003</NODEID>
    <PARENTID>78</PARENTID>
    <NODENAME>护理记录练习</NODENAME>
    <MODULE_CODE>10003</MODULE_CODE>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00074</NODEID>
    <PARENTID>54</PARENTID>
    <NODENAME>护士排班</NODENAME>
    <MODULE_CODE>00074</MODULE_CODE>
    <ADDDLL>NursingWorkArrange.dll</ADDDLL>
    <ADDRESS>HISPlus.NurseScheduleDayFrm</ADDRESS>
    <SERIAL_NO>2</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Icon\groupmanage.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00208</NODEID>
    <PARENTID>8</PARENTID>
    <NODENAME>护理巡视</NODENAME>
    <MODULE_CODE>00208</MODULE_CODE>
    <ADDDLL>NursingRec.dll</ADDDLL>
    <ADDRESS>HISPlus.NursingTour</ADDRESS>
    <SERIAL_NO>1</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00096</NODEID>
    <PARENTID>1</PARENTID>
    <NODENAME>护理记录单相关配置</NODENAME>
    <MODULE_CODE>00096</MODULE_CODE>
    <ADDDLL>NursingRecordConfig.dll</ADDDLL>
    <ADDRESS>HISPlus.NursingConfigFrm</ADDRESS>
    <SERIAL_NO>0</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Icon\16Info.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00094</NODEID>
    <PARENTID>8</PARENTID>
    <NODENAME>自定义护理记录单</NODENAME>
    <MODULE_CODE>00094</MODULE_CODE>
    <ADDDLL>NursingReport.dll</ADDDLL>
    <ADDRESS>HISPlus.NursingReportFrm</ADDRESS>
    <SERIAL_NO>0</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00100</NODEID>
    <PARENTID>42</PARENTID>
    <NODENAME>围手术期护理评估单</NODENAME>
    <MODULE_CODE>00100</MODULE_CODE>
    <ADDDLL>EvaluationEveryDay.dll</ADDDLL>
    <ADDRESS>HISPlus.EvaluationOperation</ADDRESS>
    <SERIAL_NO>1</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Icon\评估单.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
  <Menu>
    <NODEID>00099</NODEID>
    <PARENTID>42</PARENTID>
    <NODENAME>患者转入转出交接记录单</NODENAME>
    <MODULE_CODE>00099</MODULE_CODE>
    <ADDDLL>EvaluationEveryDay.dll</ADDDLL>
    <ADDRESS>HISPlus.EvaluationTrans</ADDRESS>
    <SERIAL_NO>3</SERIAL_NO>
    <WIN_OPEN_MODE>0</WIN_OPEN_MODE>
    <ICON>Resource\ICON\每日评估单.ico</ICON>
    <BACKGROUND>0</BACKGROUND>
  </Menu>
</NewDataSet>